.parallax {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  h1 {
    font-size: 80px;
    color: rgb(212, 234, 167);
    z-index: 3;
  }

  .mountains {
    background-image: url("/mountains.png");
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 4;
  }
  .stargate{
    background-image: url('/stargate.svg');
    background-size: cover;
    background-position: top;
    width: 10%;
    height: 18%;
    position: absolute;
    bottom: 0;
    z-index: 2;
  }
  .planets {
    background-image: url("/planets.png");
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
  }
  .stars {
    background-image: url("/stars.png");
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
  }
}
